/* reusable */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.capsule {
    height: 26px;
    line-height: 26px;
    border-radius: 10px;
}

.container {
    margin-bottom: 80px;
    margin-top: 50px;
}


/* .sidebar-one {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 16px;
  }
  
  .student {
    width: 260px;
    height: 450px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  
  .student img {
    width: 80%;
    height: 40%;
    border-bottom: 1px solid gray;
  }
  
  .student div {
    width: 80%;
    display: flex;
    justify-content: space-between;
  } */


/* cards */


/* card list */


/* .card-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 4%;
  } */


/* .card:not(:last-child) {
    margin-bottom: 16px;
  }
  
  @media (min-width: 576px) {
    .card {
      flex-basis: 38%;
    }
  }
  
  @media (min-width: 768px) {
    .card {
      flex-basis: 100%;
    }
  } */


/* Seaching functionality */

.controls {
    background: #ffffff;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.controls>label {
    font-size: 25px;
    text-align: center;
}

.controls>#search {
    width: 100%;
    padding: 25px;
    background-color: #33c3f0;
    color: black;
    font-size: 25px;
    font-weight: 500;
}


/* individual card  */

#data-list-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.card {
    width: 100%;
    background-color: rgb(255 255 255);
    font-size: 20px;
    color: #0c0b0b;
    border: 1px solid #ffffff;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
}

.card>.boxImg {
    width: 50%;
}

.card>.boxImg img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card>.boxDetails {
    width: 50%;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.card>.boxDetails>h3 {
    font-size: 35px;
    color: red;
}

.card>.boxDetails>p {
    font-size: 20px;
}

.card>.boxDetails>div button {
    margin: 5px 20px;
    background-color: #33c3f0;
    border: #33c3f0;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
}

.card>.boxDetails>div button>a {
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 1160px) {
    .card>.boxDetails>div button {
        width: 80%;
        margin-bottom: 20px;
    }
}


/* pagination section */